# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
*.iml
*.ipr
*.iws
.idea/

# Generated platform folders (created locally by `flutter create .`)
/android/
/ios/
/linux/
/macos/
/windows/
/web/

# IDE
.vscode/

# Env
.env
env.json
